{% extends "layout.html" %}

{% block title %}絞り込み結果 | cocone{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/result.css') }}">
{% endblock %}

{% block content %}
    <h1>{{ class_name }}　{{ start_date }} から {{ end_date }} までの出欠席</h1>

    <div class="result-container">
        {% if error %}
            <div style="color: red; font-weight: bold; text-align: center; margin-bottom: 20px;">
                {{ error }}
            </div>
        {% endif %}

        <div class="action-bar">
            <button id="download-btn" class="download-btn">ダウンロード</button>
        </div>

        <div class="table-wrapper">
            <table class="result-table" id="attendance-table">
                <thead>
                    <tr>
                        <th class="fixed-col">出席番号</th>
                        <th class="fixed-col name-col">氏名</th>
                        {% for date in date_headers %}
                            <th>{{ date }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for student in students_data %}
                    <tr>
                        <td class="fixed-col student-id">{{ student.number }}</td>
                        <td class="fixed-col name-col student-name">{{ student.student_number }} <br> {{ student.name }}</td>
                        
                        {% for date in date_headers %}
                        <td>
                            <div class="cell-stack">
                                {% if student.dates[date] %}
                                    {% for status in student.dates[date] %}
                                        <span class="status {{ status.class }}" data-period="{{ status.period }}">
                                            {{ status.text }}
                                        </span>
                                    {% endfor %}
                                {% else %}
                                    <span class="status no-data">-</span>
                                {% endif %}
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <button id="back-btn" class="back-btn">戻る</button>
    {% include "parts/_status_modal.html" ignore missing %}
    <div id="change-status-modal" class="modal-overlay">
        <div class="modal-content change-modal-content">
            <h2>出欠席状態の変更</h2>
             <div class="modal-btn-area">
                <button id="modal-cancel-btn" class="modal-btn cancel-btn">戻る</button>
                <button id="modal-save-btn" class="modal-btn save-btn">変更</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', path='/js/result.js') }}"></script>
{% endblock %}