{% extends "layout.html" %}

{% block title %}パスワード変更 | cocone{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/passwordChange.css') }}">
{% endblock %}

{% block content %}
    <h1>初回パスワードの変更</h1>

    <div class="password-form-container">
        
        <div class="form-group">
            <label for="new-password">新しいパスワード</label>
            <input type="password" id="new-password" name="new-password" required>
        </div>

        <div class="form-group">
            <label for="confirm-password">新しいパスワード（確認）</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
        </div>

        <div id="password-error-msg" class="error-message-area"></div>

        <button id="change-btn" class="change-btn">
            パスワードを変更
        </button>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', path='/js/passwordChange.js') }}"></script>
{% endblock %}