{% extends "layout.html" %}

{% block title %}出席確認｜cocone{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/teacher.css') }}">
{% endblock %}

{% block content %}
        <h1>出席確認</h1>
        <div class="form-container">
        </div>

        <button id="submit-btn" class="circle-button">出席確認</button>
        <div id="status-area" style="margin-top:20px; color:#666;"></div>
{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.49/Tone.js"></script>
    <script src="{{ url_for('static', path='/js/teacher.js') }}"></script>
{% endblock %}