name: Deploy FastAPI App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # 1. コードを取得
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Rsyncで高速転送（除外設定が確実に効きます）
      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@v5.1.0
        with:
          # SSHキーと接続情報
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.SFTP_HOST }}
          REMOTE_USER: ${{ secrets.SFTP_USERNAME }}
          REMOTE_PORT: ${{ secrets.SFTP_PORT }}
          
          # 転送元と転送先
          SOURCE: "./"
          TARGET: "/root/cocone/"
          
          # 除外ファイル（.gitなどはここで弾かれます）
          EXCLUDE: "/.git/, /.github/, /env/, /.env, /__pycache__/,*.wav"
          
          # サーバー上の不要なファイルを削除するか（true推奨）
          ARGS: "-rltgoDzvO --delete"

      # 3. SSHで接続してライブラリ更新と再起動
      - name: Install Requirements & Restart Service
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SFTP_PORT }}
          script: |
            cd /root/cocone
            
            # 仮想環境に入ってライブラリ更新
            source env/bin/activate
            # requirements.txtが更新された時だけインストール
            pip install -r requirements.txt
            
            # サービス再起動
            systemctl restart cocone